In [6]:
import pandas as pd

In [10]:
header_list = ['Region Name',
 'Region Type',
 'Type',
 'zillow_Current',
 'zillow_Month Over Month',
 'zillow_Quarter Over Quarter',
 'zillow_Year Over Year',
 '5 Year Annualized',
 '10 Year Annualized',
 'Current',
 'Month Over Month',
 'Quarter Over Quarter',
 'Year Over Year']

In [11]:
df = pd.read_csv('data/kc_neighborhood_import.csv', names=header_list)
df.head()

,Region Name,Region Type,Type,zillow_Current,zillow_Month Over Month,zillow_Quarter Over Quarter,zillow_Year Over Year,5 Year Annualized,10 Year Annualized,Current,Month Over Month,Quarter Over Quarter,Year Over Year
0,"King County, WA - All Homes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Statistic,NaN,NaN,Zillow Home Value Index,NaN,NaN,NaN,NaN,NaN,Median value per sq. ft. ($),NaN,NaN,NaN
2,Region Name,Region Type,Type,Current,Month Over Month,Quarter Over Quarter,Year Over Year,5 Year Annualized,10 Year Annualized,Current,Month Over Month,Quarter Over Quarter,Year Over Year
3,King County,county,All Homes,"$667,300",0.9%,2.7%,4.5%,8.8%,6.0%,$546,0.7%,2.6%,4.4%
4,Adams,neighborhood,All Homes,"$723,500",0.5%,1.2%,-2.4%,8.3%,6.6%,$587,0.5%,1.2%,-2.3%

In [14]:
def get_col_names():
    list = []
    for val in df2.iloc[1]:
        list.append(val)
    return list

In [9]:
get_col_names()

['Region Name',
 'Region Type',
 'Type',
 'Current',
 'Month Over Month',
 'Quarter Over Quarter',
 'Year Over Year',
 '5 Year Annualized',
 '10 Year Annualized',
 'Current',
 'Month Over Month',
 'Quarter Over Quarter',
 'Year Over Year']

In [20]:
df.to_csv('data/region.csv', index=False)

In [18]:
df2 = pd.read_csv('data/king-county-wa-ZIP codes-Report.csv', names=header_list2)
df2.head()

,Region Name,Region Type,Type,Current,Month Over Month,Quarter Over Quarter,Year Over Year,5 Year Annualized,10 Year Annualized
0,"King County, WA - All Homes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Statistic,NaN,NaN,Zillow Home Value Index,NaN,NaN,NaN,NaN,NaN
2,Region Name,Region Type,Type,Current,Month Over Month,Quarter Over Quarter,Year Over Year,5 Year Annualized,10 Year Annualized
3,King County,county,All Homes,"$667,300",0.9%,2.7%,4.5%,8.8%,6.0%
4,98001,zipcode,All Homes,"$432,800",1.2%,3.9%,9.4%,9.1%,4.9%

In [16]:
get_col_names()

['Region Name',
 'Region Type',
 'Type',
 'Current',
 'Month Over Month',
 'Quarter Over Quarter',
 'Year Over Year',
 '5 Year Annualized',
 '10 Year Annualized']

In [17]:
header_list2 = ['Region Name',
 'Region Type',
 'Type',
 'Current',
 'Month Over Month',
 'Quarter Over Quarter',
 'Year Over Year',
 '5 Year Annualized',
 '10 Year Annualized']

In [21]:
df2.to_csv('data/kc_zipcodes.csv', index=False)

In [22]:
region = pd.read_csv('data/region.csv')
region.head()

,Region Name,Region Type,Type,zillow_Current,zillow_Month Over Month,zillow_Quarter Over Quarter,zillow_Year Over Year,5 Year Annualized,10 Year Annualized,Current,Month Over Month,Quarter Over Quarter,Year Over Year
0,"King County, WA - All Homes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Statistic,NaN,NaN,Zillow Home Value Index,NaN,NaN,NaN,NaN,NaN,Median value per sq. ft. ($),NaN,NaN,NaN
2,Region Name,Region Type,Type,Current,Month Over Month,Quarter Over Quarter,Year Over Year,5 Year Annualized,10 Year Annualized,Current,Month Over Month,Quarter Over Quarter,Year Over Year
3,King County,county,All Homes,"$667,300",0.9%,2.7%,4.5%,8.8%,6.0%,$546,0.7%,2.6%,4.4%
4,Adams,neighborhood,All Homes,"$723,500",0.5%,1.2%,-2.4%,8.3%,6.6%,$587,0.5%,1.2%,-2.3%

In [24]:
zipcode = pd.read_csv('data/kc_zipcodes.csv')
zipcode.head()

,Region Name,Region Type,Type,Current,Month Over Month,Quarter Over Quarter,Year Over Year,5 Year Annualized,10 Year Annualized
0,"King County, WA - All Homes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Statistic,NaN,NaN,Zillow Home Value Index,NaN,NaN,NaN,NaN,NaN
2,Region Name,Region Type,Type,Current,Month Over Month,Quarter Over Quarter,Year Over Year,5 Year Annualized,10 Year Annualized
3,King County,county,All Homes,"$667,300",0.9%,2.7%,4.5%,8.8%,6.0%
4,98001,zipcode,All Homes,"$432,800",1.2%,3.9%,9.4%,9.1%,4.9%

In [ ]:
region.drop(labels=[0, 1,)